.borde1{
  background-color:orange;
    height: 200px;
}
.borde2{
    background-color: red;
      height: 50px;
  }
  .borde3{
    background-color:green;
      height: 50px;
  }
  .borde4{
    background-color:blue;
      height: 50px;
  }
  .borde5{
    background-color: purple;
      height: 50px;
  }
  .borde6{
    background-color:yellow;
      height: 50px;
  }
  .img-c{ height: 200px;

  }